<!DOCTYPE html>
<head>
<title>
File's zijn stom!
</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<script src="{{ url_for('static', filename='javascript/jquery-2.2.3.js') }}" charset="utf-8"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

</head>
<body>

<script>

// var data = [
// 	{"time": "16:35:01",
// 	"road": "A9",
// 	"lengte": 5,
// 	"traject": "Alkmaar - Amstelveen"},
// 	{"time": "16:40:01",
// 	"road": "A9",
// 	"lengte": 4,
// 	"traject": "Alkmaar - Amstelveen"},
// 	{"time": "16:40:01",
// 	"road": "A4",
// 	"lengte": 18,
// 	"traject": "Amsterdam - Rotterdam"}
// ];
var data = {{ traffic_info|tojson }};

var trajects = data.map(function(d) {
	return d.name;
});


// console.log(trajects);
var color = d3.scale.category10();
color.domain(trajects);

var timeParser = d3.time.format("%H:%M:%S").parse;
// console.log("appel");

// var data = function(traject) {traject.forEach(function(d){
// 	// var y0 = 0;
// 	d.time = timeParser(d.time);
// 	// d.lengte = +d.lengte;
// 	// d.x = data.map(function(name) {
// 	// 	return {name: d.traject, y0: y0, y1: y0 += +d.lengte, time:d.time};
// 	// })
// 	// d.y0 = y0;
// 	// d.y1 = y0 += +d.lengte;
// 	// console.log(d.y1);
// 	// d.total = d.x[d.x.length - 1].y1;
// 	// console.log(d.x);
// 	// d.total = d[d. - 1].y1;
// });}
// data.sort(function(a, b) { return b.total - a.total; });

var data = data.map(function (d) {
	return d.data.map(function(o, i) {
		return {
			y: o.lengte,
			x: timeParser(o.time),
			name: d.name
		}
	})
});

var width = 1000, height = 400;
var margin = {top: 20, right: 20, bottom: 30, left: 40};

// var layers = d3.layout.stack()()

var stack = d3.layout.stack();
stack(data);

var layers = data;
// var layers = d3.layout.stack()(trajects.keys().map(function (t) {
// 		return data.map(function(d) {
// 			if (d.traject == t){
// 			return {
// 				x: d.time, y: d.lengte, name: d.traject
// 			};}
// 		})
// 	})
// 	);
	// .map(function(l) {
	// 	return data.map(function(d) {
	// 		if (d.traject == l) {
	// 			return { x: d.time, 
	// 				y: d.lengte,
	// 				name: d.traject} ;
	// 		}
	// 	})});

var mintime = d3.min(data, function(d) {
	return d3.min(d, function(o) {
		return o.x;
	})
});

var maxtime = d3.max(data, function(d) {
	return d3.max(d, function (o) {
		return o.x;
	})
});
// console.log([mintime, maxtime]);

var x = d3.time.scale()
				.domain([mintime, maxtime])
				.rangeRound([0, width-width/data.length/2]);


var xScale = d3.scale.ordinal()
	.domain(data[0].map(function(d) {
		return d.x;
	}))
	.rangeRoundBands([0, width-50]);

var y = d3.scale.linear()
				.rangeRound([height, 0])
				.domain([	0,		
					// d3.max(data, function(d) {
					// 	return d3.max(d, function(d) {
					// 		return ((d.y0) ? d.y0 : 0) + d.y;
					// 	});
					// })
					d3.max(data[data.length - 1], function(d) { return ((d.y0) ? d.y0 : 0) + d.y; })
				]);


				// .domain([0, d3.max(layers, function(d) {
				// 	return d3.max(d.function(d) {
				// 		return ((d.y0) ? d.y0 : 0)+ d.y;
				// 	})}
				// 	// return ((d.y0) ? d.y0 : 0)+ d.y;
				// })]);

// console.log(d3.map(data[data.length-1], function(d) { return y(d.y); }))

var xAxis = d3.svg.axis()
	.scale(x)
	.orient("bottom")
	.ticks(30)
	.tickFormat(d3.time.format("%H:%M"));

var yAxis = d3.svg.axis()
	.scale(y)
	.orient("left")
	.ticks(15);

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");

svg.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis)
.selectAll("text")
  .style("text-anchor", "end")
  .attr("dx", "-.8em")
  .attr("dy", "-.55em")
  .attr("transform", "rotate(-90)" )
  .style("font-size", "8px");

svg.append("g")
  .attr("class", "y axis")
  .call(yAxis)
.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 6)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .style("font-size", "10px")
  .text("totale lengte");

var tip = d3.tip()
	.attr('class', 'd3-tip')
	.offset([-10, 0])
	.style("font-size", "10px")
	.html(function(d) {
		return "<strong>Traject:</strong> <span>" + d.name + 
		"</span></br><strong>Lengte:</strong><span>" + d.y + "</span>";
	});

svg.call(tip);

var layer = svg.selectAll(".layer")
	.data(layers)
	.enter().append("g")
	.attr("class", "layer")
	;


function get_knooppunten(traject) {
	$.ajax({
		url: "test",
		data: {
			test: traject
		},
		success: function (result) {
			var line = d3.svg.line()
			    .interpolate("basis")
			    .x(function(d) { return x(timeParser(d.time)); })
			    .y(function(d) { return y(d.lengte); });

			var detail = d3.select("body").append("svg")
							.attr("width", width)
							.attr("height", height);
			detail.append("g")
  .attr("class", "x axis")
  .attr("transform", "translate(0," + height + ")")
  .call(xAxis)
.selectAll("text")
  .style("text-anchor", "end")
  .attr("dx", "-.8em")
  .attr("dy", "-.55em")
  .attr("transform", "rotate(-90)" )
  .style("font-size", "8px");

detail.append("g")
  .attr("class", "y axis")
  .call(yAxis)
.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", 6)
  .attr("dy", ".71em")
  .style("text-anchor", "end")
  .style("font-size", "10px")
  .text("gemiddelde lengte");

  var knooppunt = detail.selectAll(".knooppunt")
  	.data(result.data)
  	.enter().append("g")
  	.attr("class", "knooppunt");

  	knooppunt.append("path")
  		.attr("class", "line")
  		.attr("d", function(d) {return line({lengte: d.lengte, time: d.time});});
		}
	})
};

layer.selectAll("rect")
	.data(function(d) {return d;})
	.enter()
	.append("rect")
	.attr("class", "bar")
	.attr("x", function(d) {
		return x(d.x);})
	.attr("y", function(d) { 
		return y(d.y + ((d.y0) ? d.y0 : 0));
		})
		// return (d.y0) ? y(d.y0) : 0 + y(d.y); })
	.attr("width", 5)
	// .attr("width", function(d) {
	// 	return xScale.rangeBand();
	// })	
  .attr("height", function(d) { 
  	y0 = (d.y0) ? d.y0 : 0;
  	// console.log(d.y);
  	return y(y0) - y(d.y + y0); })
  .style("fill", function(d) {return color(d.name);})
  .on('mouseover', tip.show)
  .on('mouseout', tip.hide)
  .on('click', function(d) {return get_knooppunten(d.name);});
</script>
<!-- <div>
<form action="get_traject">
<select name="road"  onchange="this.form.submit()">
{% for r in roads %}
	<option value={{ r }}>{{ r }}</option>
{% endfor %}
</select>
<select>
{% for d in days %}
<option value={{ d }}>{{ d }}</option>
{% endfor %}
</select>
</form>
</div> -->
</body>
